@media(min-width: 1400px) {}

@media(min-width: 1200px) and (max-width:1399.98px) {}

@media(min-width:992px) and (max-width:1199.98px) {}

@media(min-width:768px) and (max-width:991.98px) {}

@media(min-width:576px) and (max-width:767.98px) {}

@media(max-width:575.98px) {

    /* navbar part  */
    #head__part {
        padding: 0px 25px;
        display: block;


    }

    #head__part .logo {
        width: 30%;
        display: block;

    }

    #head__part .button {
        display: none;
    }

    #head__part .head__text p {
        font-size: 20px;
        line-height: 80px;
        display: block;

    }

    #head__part .head__text p::after {
        left: -16px;
        top: 22px;
        width: 4px;
        height: 35px;
        border-radius: 5px;
        display: block;
    }

    /* search part 
==================================================== */
    #search {
        padding: 20px 0;
    }

    #search .search__main {
        height: 40px;
    }

    #search .search__main input {
        width: 390px;
    }

    /* adventure part responsive
================================================== */



}