.social__icon {
    & .user__icon{
        line-height: 55px;
        & ul{display: flex;
            li{
                color: $color-primary;
                & i {
                    font-size: 24px;
                    cursor: pointer;
                    margin-right: 24px;
                }
               
            }
            & .icon--modifier{
                color: $color-grey-dark;
            }
        }
    }
    
}